.page {
  position: relative;
  margin-top: 80px;
  margin-bottom: 120px;
}

.title {
  font-size: 32px;
  line-height: 38px;
}

.step {
  margin-top: 64px;
  margin-bottom: 48px;
}

.control {
  @media screen and (max-width: 991px) {
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: -104px;
  }
}
